# Django Settings
SECRET_KEY=django-insecure-w+uwm)qyq3b6m#ll((u^abdu!kx3b7-$ys_y9l%hdd6101bva9
DEBUG=False
ALLOWED_HOSTS=test-maluga-api.m3k.su,127.0.0.1,localhost
DB_PATH=/app/data/db.sqlite3

# Google Sheets Configuration
CREDENTIALS_FILE=google_credentials.json
# Default spreadsheet id (can also be configured per form via bot)
SPREADSHEET_ID=1X0koco9C3PieSI_L3cuaIxjxkSEhISVrN6DULoEBsfA

# Global Webhook Auth Fallback (can also be configured per form)
EXPECTED_TOKEN=0kYQ3XoDfJvV0XrlXxzL2XI3Vt8urysb

# Telegram Error Alerts & Admin Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ADMIN_CHAT_ID=
